# Individual Project 3
## McKenzee Masters
## DS160-01
## Version 1

In [1]:
import pandas as pd
import numpy as np

# 1)

In [2]:
df=pd.read_csv('weather_2012.csv')
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

# 2)

In [3]:
df.head(5) #first five rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
df.sample(5) #random 5 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
2506,2012-04-14 10:00:00,12.8,-0.2,41,26,48.3,101.38,Cloudy
2065,2012-03-27 01:00:00,-5.0,-17.7,36,19,25.0,101.96,Clear
7498,2012-11-08 10:00:00,2.4,-3.9,63,30,24.1,101.41,Mostly Cloudy
7306,2012-10-31 10:00:00,14.6,12.9,90,19,16.1,99.14,Cloudy
3881,2012-06-10 17:00:00,26.6,10.0,35,6,48.3,101.37,Cloudy

In [5]:
df.tail(5) #last five rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

# 3)

In [6]:
df.columns #display a list of the columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

# 4)

In [7]:
df_1=df.rename(columns={'Date/Time':'date_time', 'Temp (C)':'temp_c', 
                        'Dew Point Temp (C)':'dew_point' , 
                        'Rel Hum (%)':'relative_humidity', 
                        'Wind Spd (km/h)':'wind_speed',
                        'Visibility (km)':'visibility', 
                        'Stn Press (kPa)':'pressure',
                        'Weather':'weather'})
df_1.columns

Index(['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather'],
      dtype='object')

In [8]:
df_1

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

# 5)

In [9]:
df_1.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

# 6)

In [10]:
df_1["temp_f"] = df_1["temp_c"]
df_1

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,-1.8
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,-1.8
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",-1.8
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",-1.5
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,-1.5
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,0.1
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,0.2
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,-0.5
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,-0.2
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,0.0

In [21]:
def f(x):
    x = x * 1.8 + 32
    return float(x)
df_1['temp_f'] = df_1['temp_c'].apply(f)
df_1

,date_time,temp_c,temp_f,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,28.76,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,28.76,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,28.76,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,29.30,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,29.30,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,32.18,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,32.36,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,31.10,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,31.64,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,32.00,-2.1,86,30,11.3,99.89,Snow

# 7)

In [22]:
df_1.columns

Index(['date_time', 'temp_c', 'temp_f', 'dew_point', 'relative_humidity',
       'wind_speed', 'visibility', 'pressure', 'weather'],
      dtype='object')

In [23]:
df_1=df_1[['date_time', 'temp_c', 'temp_f', 'dew_point', 'relative_humidity', 'wind_speed',
       'visibility', 'pressure', 'weather']]
df_1.head()

,date_time,temp_c,temp_f,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,-1.8,28.76,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,28.76,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,28.76,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,29.30,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,29.30,-3.3,88,7,4.8,101.23,Fog

# 8)

In [24]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   float64
 2   temp_f             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

# 9)

In [25]:
df_1['date_time']=pd.to_datetime(df_1['date_time'])
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   float64
 2   temp_f             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

# 10)

In [26]:
df_1['weather'].nunique()

50

In [27]:
dfc=df_1['weather'].value_counts()
dfc[:10]

Mainly Clear     2106
Mostly Cloudy    2069
Cloudy           1728
Clear            1326
Snow              390
Rain              306
Rain Showers      188
Fog               150
Rain,Fog          116
Drizzle,Fog        80
Name: weather, dtype: int64

In [28]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          8784 non-null   datetime64[ns]
 1   temp_c             8784 non-null   float64
 2   temp_f             8784 non-null   float64
 3   dew_point          8784 non-null   float64
 4   relative_humidity  8784 non-null   int64
 5   wind_speed         8784 non-null   int64
 6   visibility         8784 non-null   float64
 7   pressure           8784 non-null   float64
 8   weather            8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

# 11)

In [35]:
df=df_1.query('temp_f>90 & relative_humidity<50 & dew_point>17 & weather=="Clear"')

In [36]:
df

,date_time,temp_c,temp_f,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
5199,2012-08-04 15:00:00,32.8,91.04,18.8,44,17,24.1,101.39,Clear
5200,2012-08-04 16:00:00,32.5,90.50,18.5,44,15,24.1,101.34,Clear
5201,2012-08-04 17:00:00,32.5,90.50,19.8,47,13,24.1,101.32,Clear

# 12)

In [37]:
df_1['month']=df_1['date_time'].dt.month
df_1

,date_time,temp_c,temp_f,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,month
0,2012-01-01 00:00:00,-1.8,28.76,-3.9,86,4,8.0,101.24,Fog,1
1,2012-01-01 01:00:00,-1.8,28.76,-3.7,87,4,8.0,101.24,Fog,1
2,2012-01-01 02:00:00,-1.8,28.76,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",1
3,2012-01-01 03:00:00,-1.5,29.30,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",1
4,2012-01-01 04:00:00,-1.5,29.30,-3.3,88,7,4.8,101.23,Fog,1
...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,32.18,-2.7,81,30,9.7,100.13,Snow,12
8780,2012-12-31 20:00:00,0.2,32.36,-2.4,83,24,9.7,100.03,Snow,12
8781,2012-12-31 21:00:00,-0.5,31.10,-1.5,93,28,4.8,99.95,Snow,12
8782,2012-12-31 22:00:00,-0.2,31.64,-1.8,89,28,9.7,99.91,Snow,12
8783,2012-12-31 23:00:00,0.0,32.00,-2.1,86,30,11.3,99.89,Snow,12

# 13)

In [38]:
df_1.to_csv("weather_2012_new.csv", index=False)